<div class="page" data-name="contacto">
	<div class="navbar">
        <div class="navbar-inner">
            <div class="left">
            		<a class="link back">
            			<i class="icon icon-back"></i>
            			<span class="ios-only">Back</span>
            		</a>
            	</div>  
            <div class="title1">Estudhambre</div>
            <i class="demo-icon icon-search-1"></i>
        </div>
    </div>

    <div class="page-content">
    <div class="contacto">
        <div class="titulo1">Contacto</div>
            <div class="separacion"></div>
            <div class="inst">
                Tu opinión es muy importante para nosotros 
                (Te haremos más caso que tu ex)
            </div>
        <div class="textaso">
            <input type="text" name="Nombre" placeholder="Nombre">
        </div>
        <div class="textaso">
            <input type="text" name="Mail" placeholder="Mail">
        </div>
        <div class="textaso">
            <input type="text" name="Asunto" placeholder="Asunto">
        </div>
        <div >
            <textarea class="textaso1"></textarea>
        </div>
       <button class="col button button-raised button-fill button-round" id="comentario">Enviar</button>
    </div>
    </div>
    
</div>
   