<div class="page" data-name="menuentrete">
	<div class="navbar">
        <div class="navbar-inner">
            <i class="demo-icon icon-menu" onclick="ShowMenu()"></i>
            <div class="title2">Estudhambre</div>
            <a href="/buscar/" class="link">
            	<i class="demo-icon icon-search-1"></i>
            </a>
        </div>
    </div>
  	<div class="page-content">
	  <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="0" data-slides-per-view="auto" data-centered-slides="true" class="swiper-container swiper-init demo-swiper demo-swiper-auto" data-loop="true" data-autoplay="true" data-speed="1000">
	  <div class="swiper-wrapper">
	    <div class="swiper-slide">
	        <img src="../img/images/captura3.PNG" class="news">
	        <div class="lugar">Mantra</div>
	        <div class="distancia"> A 5 minutos cerca de ti</div>
	        <button class="col button button-raised button-fill button-round iniciar" id="inicio">Ir</button>
	    </div>
	    <div class="swiper-slide">
	        <img src="../img/images/captura3.PNG" class="news">
	        <div class="lugar">Kurandera</div>
	        <div class="distancia">A 10 minutos cerca de ti</div>
	        <button class="col button button-raised button-fill button-round iniciar" id="inicio">Ir</button>
	    </div>
	    <div class="swiper-slide">
	        <img src="../img/images/captura3.PNG" class="news">
	        <div class="lugar">Container</div>
	        <div class="distancia">A 15 minutos cerca de ti</div>
	        <button class="col button button-raised button-fill button-round iniciar" id="inicio">Ir</button>
	    </div>
	    <div class="swiper-slide">
	        <img src="../img/images/captura3.PNG" class="news"> 
	        <div class="lugar">Abolengo</div>
	        <div class="distancia">A 20 minutos cerca de ti</div>
	        <button class="col button button-raised button-fill button-round iniciar" id="inicio">Ir</button>
	    </div>
	  </div>
	</div>
	<div class="wrap">
	    <div class="menu1">
	        <a href="/antros/">
	            <img src="../img/images/captura3.PNG" class="recetario1">
	            <div class="opcionmenu2">Antros</div>
	        </a>
	    </div>
	    <div class="menu1">
	        <img src="../img/images/captura3.PNG" class="recetario1">
	        <div class="opcionmenu2">Bares</div>
	    </div>
	    <div class="menu1">
	        <img src="../img/images/captura3.PNG" class="recetario1">
	        <div class="opcionmenu2">Karaokes</div>
	    </div>
	    <div class="menu1">
	        <img src="../img/images/captura3.PNG" class="recetario1">
	        <div class="opcionmenu2">Eventos</div>
	    </div>
	</div>
  </div>
</div>
