<div class="page" data-name="receta">
	<div class="navbar">
        <div class="navbar-inner">
            <div class="left">
            		<a class="link back">
            			<i class="icon icon-back"></i>
            			<span class="ios-only">Back</span>
            		</a>
            	</div>  
            <div class="title1">Estudhambre</div>
             <a href="/buscar/" class="link">
                <i class="demo-icon icon-search-1"></i>
            </a>
        </div>
    </div>
    <div class="toolbar tabbar">
        <div class="toolbar-inner">
          <a href="#tab-1" class="tab-link tab-link-active">Ingredientes</a>
          <a href="#tab-2" class="tab-link">Paso a paso</a>
        </div>
    </div>
  <div class="tabs">
    <div id="tab-1" class="page-content tab tab-active">
      <div class="block">
        <img src="../img/images/cremajitomate.png" class="ejemplo">
        <div class="nombre" id="nombre">Crema de jitomate</div>
        <div class="tiempo" id="tiempo"> 50 min</div>
        <div class="ingredientes">
            <div class="card">
                <div class="card-content card-content-padding" id="ingredientes">
                   
                </div>
            </div>
        </div>
      </div>
    </div>
    <div id="tab-2" class="page-content tab">
      <div class="block">
        <img src="../img/images/cremajitomate.png" class="ejemplo">
        <div class="nombre" id="nombre">Crema de jitomate</div>
        <div class="tiempo" id="tiempo"> 50 min</div>
        <div class="ingredientes">
            <div class="card">
                <div class="card-content card-content-padding" id="pasoapaso">
                   
                </div>
            </div>
        </div>
      </div>
    </div>
    <div id="tab-3" class="page-content tab">
      <div class="block">
        <p>Tab 3 content</p>
        ...
      </div>
    </div>
  </div>
    
</div>
   