<div class="page" data-name="registro">
	<div class="navbar">
        <div class="navbar-inner">
        	<div class="left">
            		<a class="link back">
            			<i class="icon icon-back"></i>
            			<span class="ios-only">Back</span>
            		</a>
            	</div>   
            <div class="title1">Estudhambre</div>
        </div>
    </div>
  <div class="page-content">
  	<div class="wrap">
        <div class="titulo1"><b>Registrate con nosotros</b></div>
       	<div class="separacion"></div>
        <div class="registro">
            <input type="text" name="usuario" placeholder="Nombre Completo" class="datos" id="Nombre">
            <input type="text" name="usuario" placeholder="Usuario" class="datos" id="usuario1">
            <input type="text" name="usuario" placeholder="Email" class="datos" id="email">
            <input type="password" name="password" placeholder="Contraseña" class="datos" id="password1">
            <input type="password" name="password" placeholder="Confirma tu contraseña" class="datos" id="repassword">
            <button class="col button button-raised button-fill button-round" onclick="app.Signup()" id="inicio">Registrarse</button>
        </div>
        <div class="easy">
        	<div class="easyway">Ingresar con:</div>
            <div class="face"><i class="demo-icon icon-facebook-squared"></i></div>
            <div class="link1"><i class="demo-icon icon-gplus-squared"></i></div>
        </div>
    </div>
  </div>
</div>